
    <div class="container__right-content">
        <h3 style="color: #00308f;" >Thêm tài khoản mới</h3>
        <form (ngSubmit)="postUser()" class="add__web"  onsubmit="btn.disabled=true; return true;" > 
            <div class="add__web-item">
                <label for="">Tên đầy đủ</label>
                    <input type="text" [(ngModel)]="userName" name="name" required >
            </div> 
            <div class="add__web-item">
                <label for="">Email</label>
                    <input type="email" [(ngModel)]="userEmail" name="link" required>
            </div> 
            <div class="add__web-item">
                <label for="">Mật khẩu</label>
                    <input type="text" [(ngModel)]="userPassword" name="img" required>
            </div> 
            <div class="add__web-item">
                <label for="">Số điện thoại</label>
                    <input type="text" [(ngModel)]="userPhone" name="img"required="">
            </div> 
            <div  class="add__web-item select">
                <label for="">Loại tài khoản</label>
                
                <select style="margin-left: 7.5rem;" (change)="select($event)"  >
                    <option *ngFor="let userRole of userRoles" [value]="userRole.value">{{userRole.name}}</option>
                </select>
            </div>
            <div class="add__web-btn">
                    <button name="btn" type="submit" >Thêm tài khoản</button>
            </div> 

        </form>
        <table class="table">
            <thead>
                <th style="width: 5%" >ID</th>
                <th style="width: 15%" >Tên đầy đủ</th>
                <th style="width: 20%" >Email</th>
                <th style="width: 20%" >Mật khẩu</th>
                <th style="width: 10%" >Tiền </th>
                <th style="width: 10%" >Số điện thoại</th>
                <th style="width: 10%" >Loại TK</th>
                <th style="width: 10%" >Hành động</th>
            </thead>
            <tbody>
                
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td><input type="text" [(ngModel)]="user.fullName"></td>
                    <td><input type="text" [(ngModel)]="user.email"></td>
                    <td><input type="password" readonly [(ngModel)]="user.password"></td>
                    <td><input type="text" [(ngModel)]="user.money" ></td>
                    <td><input type="text" [(ngModel)]="user.phone"></td>
                    <td><input type="text" readonly [(ngModel)]="user.Role.roleName"></td>
                    <td>
                        <i (click)="updateUser(user)" class="fas fa-edit icon"></i>
                        <i (click)="deleteUser(user)" style="color: red;" class="fas fa-trash-alt icon"></i>
                        
                    </td>
                </tr>
            </tbody>
        </table>
       </div>
   
   
