<div class="footer" id="contact">
    <div class="container">
        <div class="newsletter">
            <div class="newsletter__content">
                <h3>Sign up for the newsletter Site Name</h3>
                <p>Get information about auctions</p>
            </div>
            <div class="newsletter__form">
                <form action="">
                    <input type="email" name="" id="" placeholder="Your email...">
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
        <div class="contact">
            <div class="contact__info">
                <div class="title">ABOUT US</div>
                <p>19110239 - Pham Thanh Loi</p>
                <p>19110509 - Tran Hoang Son</p>
                <p>19110217 - Nguyen Trong Huy</p>
                <p>19110256 - Nguyen Minh Nhat</p>
            </div>
            <div class="contact__phone">
                <div class="title">HOTLINE</div>
                <p>Service hotline: 1800 6666</p>
                <p>Customer care hotline : 1800 9999</p>
            </div>
            <div class="contact__social">
                <div class="title">CONNECT WITH US</div>
                <div class="contact__social-icon">
                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
