
    <div class="container__right-content">
        
        <div class="container__right-btn">
            <div (click)="loadAll()" class="btn-item">
                Tất cả đơn hàng
            </div>
            <div class="btn-item">
                <label for="">ID USER:</label>
                <input type="text" [(ngModel)]="userId" name="userId">
               
                 </div>
            <div style="width:6.5%" (click)="loadOrder(userId)" class="btn-item">
                Tìm
                </div>
        </div>
        <table class="table">
            <thead>
                <th style="width: 10%" >ID Đấu giá</th>
                <th style="width: 10%" >ID KH</th>
                <th style="width: 25%" >Tên KH</th>
                <th style="width: 25%" >URL Banner</th>
                <th style="width: 10%" >Trạng thái</th>
                <th style="width: 10%" >Giá đấu giá</th>
                <th style="width: 10%" >Hàng động</th>
            </thead>
            <tbody>
                
                <tr *ngFor="let auction of auctions">
                    <td>{{auction.auctionId}}</td>
                    <td>{{auction.userId}}</td>
                    <td>{{auction.User.fullName}}</td>
                    <td><input type="text" readonly [(ngModel)]="auction.yourBanner"></td>
                    <td><input type="text" readonly [(ngModel)]="auction.status"  ></td>
                    <td><input type="text" readonly [(ngModel)]="auction.Auction.auctionMoney"  ></td>
                    <td>
                        <i  class="fas fa-edit icon"></i>
                        <i  style="color: red;" class="fas fa-trash-alt icon"></i>
                        
                    </td>
                </tr>
            </tbody>
        </table>
      
   
   



