<div class="cart">
    <div class="account__table-cart">
        <form action="" class="account__form">
            <h3 class="account__form-title">Cart</h3>
            <table class="table">
                <thead>
                    <th style="width: 15%" >Date</th>
                    <th style="width: 25%" >Order name</th>
                    <th style="width: 25%" >Your banner</th>
                    <th style="width: 15%" >Total</th>
                    <th style="width: 20%" >Confirm</th>
                </thead>
                <tbody>
                    <tr *ngFor="let cart of carts" >
                        <td>{{cart.createdAt | date:'short' }}</td>
                        <td>{{cart.Auction.Banner.name}} : {{cart.Auction.Banner.size}}</td>
                        <td> <label for="">URL image : </label> <input style="border:0;border-bottom : 1px solid #ededed; background-color: inherit;" type="text" [(ngModel)]="cart.yourBanner" name="something" required ></td>
                        <td style="color: red;">{{cart.Auction.auctionMoney}} <i style="color: #00308f; margin-left :0.5rem " class="fas fa-coins"></i></td>
                        <td *ngIf="checkCart == 1" class="button-pay" >
                            <button (click)="checkout(cart)" >Confirm</button>
                        </td>
                        <td *ngIf="checkCart == 2" class="button-pay" >
                            <button>Confirm</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

