<form class="header__search">
    <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
</form>
<div class="product" id="product" >
    <div class="product__catalog">
        <p class="title" >All Web</p>
        <li (click)="loadCategory(1)" [routerLink]="['/product-news']" routerLinkActive="router-link-active"  class="product__catalog-item">
            <span>News</span>
            <i class="fas fa-angle-right"></i>
        </li>
        <li (click)="loadCategory(2)" [routerLink]="['/product-entertainment']" routerLinkActive="router-link-active"   class="product__catalog-item">
            <span>Entertainment</span>
            <i class="fas fa-angle-right"></i>
        </li>
        <li (click)="loadCategory(3)" [routerLink]="['/product-education']" routerLinkActive="router-link-active"  class="product__catalog-item">
            <span>Education</span>
            <i class="fas fa-angle-right"></i>
        </li>
    </div>
    <div class="product__content">
        <div class="product__group">
            <a (click)="loadBanner(product)" *ngFor="let product of products | filter:searchText  " class="product__item"
            [routerLink]="['/product-details']" routerLinkActive="router-link-active"  >
                <img src="{{product.image}}" alt="">
                <span class="product__item-name" > {{product.name}} </span>
                <span *ngIf="(product.categoryId === 1)" class="product__item-type" >News</span>
                <span *ngIf="(product.categoryId === 2)" class="product__item-type" >Entertainment</span>
                <span *ngIf="(product.categoryId === 3)" class="product__item-type" >Education</span>
                <span class="product__item-link" > {{product.link}} </span>
            </a>                                         
        </div>
    </div>
</div>

