<div class="home" id="home" >
    <div class="home__left">
        <div class="home__image">
            <img src="../../assets/image/Untitled-2.png" alt="">
        </div>
    </div>
    <div class="home__right">
        <div class="home__title">Place your ads here</div>
        <div class="home__decs">
            <p>Starting to place your ads at your desired spots on our websites</p>
        </div>
        <a [routerLink]="['/product']" routerLinkActive="router-link-active"  class="home__btn"><i class="fas fa-arrow-right"></i>
        </a>

    </div>
</div>

