<div class="account">
    <div class="account__profile">
        <div class="account__background">
            <img src="https://i.pinimg.com/originals/36/f0/94/36f0949c623b61a235fd6645fa507236.jpg" alt="">
        </div>
        <div class="account__title">
            <div class="account__avatar">
                <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg" alt="">
            </div>
            <div class="account__infor">
                <span class="name" >{{user?.fullName}}</span>
                <div class="total" >
                    <p>Total money :</p>
                    <span class="money" >{{user?.money}}</span>
                    <i style="color: #00308f;" class="fas fa-coins"></i>
                </div>
            </div>
        </div>
        <div class="account__bar">
            <div class="account__bar-item">
                <span>Customer</span>
            </div>
            <a [routerLink]="['/recharge']" routerLinkActive="router-link-active"  class="account__bar-item">
                <i class="fas fa-coins"></i>
                <i style="font-size: 1.4rem" class="fas fa-plus"></i>
            </a>
            <a (click)="logOut()" style="background-color: 
            red; border-radius:0.5rem; " class="account__bar-item">
                <i style="color: white; padding: 0.7rem ;cursor: pointer;" class="fas fa-power-off"></i> <span style="padding-right: 0.7rem; color : white; font-weight : 550;cursor: pointer;"  >LOGOUT</span>
            </a>
        </div>
    </div>
    <div class="account__table">
        <div class="account__table-user">
            <form action="" class="account__form">
                <h3 class="account__form-title">Profile</h3>
                <div class="account__form-group">
                    <div class="account__form-item">
                        <label for="email">Email :</label>
                        <input type="email" value="{{user?.email}}" readonly>
                    </div>
                    <div class="account__form-item">
                        <label for="fullname">Full name :</label>
                        <input type="text" value="{{user?.fullName}}" readonly>
                    </div>
                    <!-- <div class="account__form-item">
                        <label for="username">User name :</label>
                        <input type="text" value="huykaito454" readonly>
                    </div> -->
                    <div class="account__form-item">
                        <label for="phone">Phone number :</label>
                        <input type="text" value="{{user?.phone}}" readonly>
                    </div>
                    <div class="account__form-item">
                        <label for="address">Current coin :</label>
                        <input type="text" value="{{user?.money}}" readonly>
                    </div>
                    <div class="account__form-btn">
                       <button *ngIf="(user?.roleId === 2)" [routerLink]="['/manage']" routerLinkActive="router-link-active"  >Manage</button>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="account__table-order">
            <form action="" class="account__form">
                <h3 class="account__form-title">Order</h3>
                <table class="table">
                    <thead>
                        <th style="width: 20%" >Date created</th>
                        <th style="width: 20%" >Order name</th>
                        <th style="width: 40%" >Your Banner</th>
                        <th style="width: 20%" >Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders" >
                            <td>{{order.updatedAt | date:'short'}}</td>
                            <td>{{order.Auction?.Banner.name}} : {{order.Auction?.Banner.size}}</td>
                            <td> URL image : {{order.yourBanner}} </td>
                            <td style="color: red;" >{{order.Auction?.auctionMoney}}<i style="color: #00308f; margin-left : 1rem " class="fas fa-coins"></i> </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
